* {
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
    color: #171C2D;
    background-color: #254252;
  }

  header {
    color: #171C2D;
    padding: 1rem;
    margin: 2rem;
    background-color: #F9982F;
    border: 5px solid #171C2D;
  }

  main {
    border: 5px solid #171C2D;
    background-color: #F9982F;
    padding: 1rem;
    margin: 2rem;
  }
  
  section {
    padding: 25px;
    border-radius: 8px;
  }

  a {
    color: blue;
    text-decoration: none;
  }